.header div {
  margin-bottom: 5px;
}

.header-action {
  margin: 8px 0;
}

.add-header, .remove-header {
  margin-right: 10px;
}

.add-header:hover, .remove-header:hover {
  cursor: pointer;
}

.hidden {
  display: none;
}
